header{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    background-color: rgb(190, 28, 155);
    height: 90px;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    height:75px;
    width: 75px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 40%;
}
.details{
    display: inline-block;
    position: relative;
    left: 10px;
    top:15px;
    font-weight: bold;
    
}
.h2{
    position: absolute;
    top:10px;
    left: 40%;
}
span{
    display: inline-block;
    position: absolute;
    font-size: 40px;
    top:0px;
    right: 15px;
    cursor: pointer;
}
.fa-hourglass{
    transform: rotate(90deg);
}
.navbar,.navbar1{
    position: fixed;
    background-color: rgb(243, 42, 193);
    color: white;
    z-index: 1;
    box-shadow: 0px 0px 110px 0px rgb(83, 0, 58);
}
.sub-list1,.sub-list2{
    position:absolute;
    margin-left: -90px;
    margin-top:30px;
    text-align: center;
    /* background-color: rgb(243, 42, 193);; */
    width: 230px;
     /* display: none;  */
}
.sub-list21{
    position:absolute;
    width: 220px;
    padding-left: 45px;
    margin-left: 160px;
    margin-top:-20px;
    /* background-color: rgb(243, 42, 193);; */

    /* display: none; */
}
.sub-list1 li,.sub-list2 li{
    list-style-type: none;
    margin-left: -80px;
    font-weight: 30px;
    height: 52px;
    background-color:  rgb(190, 28, 155);
    width:200px;
}
#nav{
    width: 100px;
    height: 198px;
    right: 0;
}
.item{
    color: aliceblue;
}
.nav-items1 .li{
    position: relative;
    list-style-type: none;
    text-align: center;
    margin-left: -50px;
    right: 0px;
    left: 0px;
    font-size: 20px;
    height: 50px;
    
}
.navbar1 ul ul{
    font-size: small;
    text-align: left;
    width: 120px;
    margin-left: -120px;
}
.navbar1 ul ul li{
    margin-left: 40px;
    margin-right: 30px;
}
.nav-items li{
    position: relative;
    top: -8px;
    list-style-type: none;
    display: inline-block;
    font-weight:lighter;
    font-size: 20px;
    height: 50px;
}
.nav-items li:hover,.nav-items1 .li:hover{
    /* background-color: rgba(124, 9, 78, 0.3); */
}

.main{  
    height: 78vh;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    
}
.filter{  
    position: relative; 
    overflow-y: scroll; 
    width: 55%;
    /* background-color:rgba(110, 13, 70, 0.1); */
    float: left;
    
}
.slideshow{
    margin: 0;
    padding: 0;
    height: 76vh;
    align-items: center;
    width: 50%;
}
/*.transparent{
    height: 76vh;
    width: 51.2%;
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
}*/
.slider{     
   /* width: 700px;*/
    overflow: hidden;
    animation: slider 10s linear infinite; 
}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 2s;
}
.navigation-manual{
    position: absolute;
    width: 50%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.slide img{
    width: 750px;
    height: 600px;
}
.manual-btn{
    border: 1px solid rgb(235, 135, 223);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 10%;
}
.manual-btn:hover{
    background-color: rgb(235, 135, 218);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
.slides{
    top:0;
    left:0;
    right: 0;
    width: 100%;
    height: 76vh;
    display: flex;
}

footer{
        height: 5vh;
        background-color: rgb(211, 8, 161);
        position: relative;
        text-align: center;
        color: white;
        bottom: 0;
    }
@media only screen and (max-width:1300px),(min-width:900px){
    .nav-items li{          
        padding-left: 180px;
        padding-right: 80px;  
    }
    .main{
        
        height: 86vh;
    }
    .navbar{
        height: 50px;
    }
}
@media only screen and (max-width:900px),(min-width:768px){
    .nav-items li{       
        padding-left: 80px;
        padding-right: 80px;
    }
    .main{
        height: 76vh;
    }
    .navbar{
        height: 50px;
    }
}
@media only screen and (max-width:768px){
    header{
        box-shadow: 0px 10px 80px 10px rgb(211, 8, 161);
        font-size: small;
    } 
    .navbar{
        height: 0;
        width: 0;
    }
    .main{
        position: relative;
        height: 82vh;
        top:-5px;
        
    }
    .h2{
        top:20px;
        left: 55%;
    }
    .nav-items{
        display: none;
    }
    #nav{
        top: 90px;
        height: 203px;
        /* box-shadow: 0px 10px 80px 10px ; */
        background-color: rgb(211, 8, 161);

    }
    .nav-items1 li{
        top:2px;
    }
    footer{
        top:-5px;
    }
    
}
.div{
    height: 100px;
    width: 80px;
}

.filter .input input{
    margin: 3%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-bottom:2px solid pink;
}
.filter .input input:focus{
    outline: none;
}
.filter ul li{
    background-color: rgb(214, 21, 140);
    margin-left: -35px;
    padding: 10px;
    padding-left: 45px;
    color: white;
}
.filter button{
    border: none;
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: rgb(218, 25, 160);
}
.filter ul li button{
    position: relative;
    left:80px;
    border: none;
    color:rgb(218, 25, 160);;

}
ul li a{
    color: white;
    text-decoration: none;
}

	
	
